<div class="container">
<div class="row">
<div class="create-form col-3">
  <form>
    <div>
      <label for="product_title">Title</label><br>
      <input type="text" name="product[title]" id="title" />
    </div>
    <div>
      <label for="product_text">Text</label><br>
      <textarea name="product[text]" id="text"></textarea>
    </div>
    <div>
      <label for="product_price">Price</label><br>
      <input type="number" name="product[price]" id="price" />
    </div>
    <div>
      <label for="product_image">Image</label><br>
      <input type="file" name="product[image]" id="image" />
    </div>
    <button  type="button" class="btn btn-primary create">新規投稿</buttom>
  </form>
</div>

<div class="wrapper col-9">
  <div class="search-box">
    <form>
      <label for="search">Search</label><br>
      <input type="text" name="search" id="search" />
      <button  type="button" class="btn btn-primary search">タイトルで検索</buttom>
    </form>
  </div>

  <table>
    <thead>
      <tr>
        <td>title</td>
        <td>text</td>
        <td>price</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
</div>
</div>

<script>
$(function(){
  $.ajax({
    url:'./api/v1/products',
    type:'get'
  }).done( (datas) => {
    let aaa;
    datas.forEach(function(res){
      aaa += '<tr id="' + res.id + '"><td class="title">' + res.title + '</td><td class="text">' + res.text + '</td><td class="price">' + res.price + '</td><td><button type="button" class="btn btn-primary edit" value='+ res.id + '>編集</button>' + '</td><td><button type="button" class="btn btn-primary delete" value='+ res.id + '>削除</button></td></tr>';
    });
    $("tbody").html(aaa);
  });

  $('.create').click(function(){
    var form = $('.create-form form').serialize();
    var file = document.querySelector('#image').files[0]
    if (file){
      var reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = function () {
        console.log(reader.result);
        form += "&product%5Bimage%5D=" + "test";
        console.log(form);
      };
    }
    $('.create-form form').find('#title').val("");
    $('.create-form form').find('#text').val("");
    $('.create-form form').find('#price').val("");
    $('.create-form form').find('#image').val("");
    $.ajax({
      url: './api/v1/products',
      type: 'post',
      data: form
    }).done( (data) => {
      let bbb = $("tbody").html();
      bbb += '<tr id="' + data.id + '"><td class="title">' + data.title + '</td><td class="text">' + data.text + '</td><td class="price">' + data.price + '</td><td><button type="button" class="btn btn-primary edit" value='+ data.id + '>編集</button>' + '</td><td><button type="button" class="btn btn-primary delete" value='+ data.id + '>削除</button></td></tr>';
      $('tbody').html(bbb);
    })
  });

  $(document).on('click', '.edit', function(){
    var id = $(this).val();
    let before_title = $('#'+id).find('.title').text();
    let before_text = $('#'+id).find('.text').text();
    var before_price = Number($('#'+id).find('.price').text());
    let tag_data = '<td><input type="text" name="product[title]" id="edit_title" value="' + before_title + '"/></td><td><textarea name="product[text]" id="edit_text">' + before_text + '</textarea></td><td><input type="number" name="product[price]" id="edit_price" value="' + before_price + '"/></td><td><button  type="button" class="btn btn-primary update" value='+ id + '>更新</buttom></td>';
    $('#'+id).html(tag_data);
  });

  $(document).on('click', '.update', function(){
    var id = $(this).val();
    var u = './api/v1/products/' + id;
    let after_title = $('#'+id).find('#edit_title').val();
    let after_text = $('#'+id).find('#edit_text').val();
    var after_price = $('#'+id).find('#edit_price').val();
    var form_data = "product%5Btitle%5D=" + after_title + "&product%5Btext%5D=" + after_text + "&product%5Bprice%5D=" + after_price;
    $.ajax({
      url: u,
      type: 'patch',
      data: form_data
    }).done( (data) => {
      console.log(data);
      let after_datas = '<td class="title">' + data.title + '</td><td class="text">' + data.text + '</td><td class="price">' + data.price + '</td><td><button type="button" class="btn btn-primary edit" value='+ data.id + '>編集</button>' + '</td><td><button type="button" class="btn btn-primary delete" value='+ data.id + '>削除</button></td>';
      $('#'+id).html(after_datas);
    })
  });

  $(document).on('click', '.delete', function(){
    var id = $(this).val();
    var u = './api/v1/products/' + id;
    $.ajax({
      url: u,
      type: 'delete'
    }).done( (data) => {
      $('#'+id).remove();
    })
  });

  $('.search').click(function(){
    var form = $('.search-box form').serialize();
    $('.search-box form').find('#search').val("");
    $.ajax({
      url: './api/v1/products/search',
      type: 'post',
      data: form
    }).done( (datas) => {
      let aaa;
      datas.forEach(function(res){
        aaa += '<tr id="' + res.id + '"><td class="title">' + res.title + '</td><td class="text">' + res.text + '</td><td class="price">' + res.price + '</td><td><button type="button" class="btn btn-primary edit" value='+ res.id + '>編集</button>' + '</td><td><button type="button" class="btn btn-primary delete" value='+ res.id + '>削除</button></td></tr>';
      });
      $("tbody").html(aaa);
    })
  });
});
</script>