<div class="container">
<div class="row">
<div class="create-form col-3">
  <form>
    <div>
      <label for="product_title">Title</label><br>
      <input type="text" name="product[title]" id="title" />
    </div>
    <div>
      <label for="product_text">Text</label><br>
      <textarea name="product[text]" id="text"></textarea>
    </div>
    <div>
      <label for="product_price">Price</label><br>
      <input type="number" name="product[price]" id="price" />
    </div>
    <div>
      <label for="product_image">Image</label><br>
      <input type="file" name="product[image]" id="image" />
    </div>
    <button  type="button" class="btn btn-primary create">新規投稿</buttom>
  </form>
</div>

<div class="wrapper col-9">
  <div class="search-box">
    <form>
      <label for="search">Search</label><br>
      <input type="text" name="search" id="search" />
      <button  type="button" class="btn btn-primary search">タイトルで検索</buttom>
    </form>
  </div>

  <table>
    <thead>
      <tr>
        <td>title</td>
        <td>text</td>
        <td>price</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
</div>
</div>

<script>
$(function(){
  $.ajax({
    url:'./api/v1/products',
    type:'get'
  }).done( (datas) => {
    let aaa;
    datas.forEach(function(res){
      console.log(res.id);
      aaa += '<tr id="' + res.id + '"><td>' + res.title + '</td><td>' + res.text + '</td><td>' + res.price +  '</td><td><button type="button" class="btn btn-primary delete" value='+ res.id + '>削除</button></td></tr>';
    });
    $("tbody").html(aaa);
  });

  $('.create').click(function(){
    var form = $('.create-form form').serialize();
    var file = document.querySelector('#image').files[0]
    if (file){
      var reader = new FileReader();
      reader.readAsDataURL(file);
      reader.onload = function () {
        console.log(reader.result);
        form += "&product%5Bimage%5D=" + "test";
        console.log(form);
      };
    }
    $('.create-form form').find('#title').val("");
    $('.create-form form').find('#text').val("");
    $('.create-form form').find('#price').val("");
    $('.create-form form').find('#image').val("");
    $.ajax({
      url: './api/v1/products',
      type: 'post',
      data: form
    }).done( (data) => {
      let bbb = $("tbody").html();
      bbb += '<tr><td>' + data.title + '</td><td>' + data.text + '</td><td>' + data.price +'</td></tr>';
      $('tbody').html(bbb);
    })
  });

  $(document).on('click', '.delete', function(){
    console.log('start');
    var id = $(this).val();
    var u = './api/v1/products/' + id;
    $.ajax({
      url: u,
      type: 'delete'
    }).done( (data) => {
      $('#'+id).remove();
    })
  });

  $('.search').click(function(){
    var form = $('.search-box form').serialize();
    $('.search-box form').find('#search').val("");
    $.ajax({
      url: './api/v1/products/search',
      type: 'post',
      data: form
    }).done( (datas) => {
      let aaa;
      datas.forEach(function(res){
        aaa += '<tr><td>' + res.title + '</td><td>' + res.text + '</td><td>' + res.price +'</td></tr>';
      });
      $("tbody").html(aaa);
    })
  });
});

function getBase64(file) {
   var reader = new FileReader();
   reader.readAsDataURL(file);
   reader.onload = function () {
     console.log(reader.result);
   };
   reader.onerror = function (error) {
     console.log('Error: ', error);
   };
}
</script>