<h1>Welcome to ProductManager!</h1>

<div class="container">
<div class="row">
<div class="create-form col-3">
  <form>
    <div>
      <label>Title</label><br>
      <input type="text" name="product[title]" id="title" />
    </div>
    <div>
      <label>Text</label><br>
      <textarea name="product[text]" id="text"></textarea>
    </div>
    <div>
      <label>Price</label><br>
      <input type="number" name="product[price]" id="price" />
    </div>
    <div>
      <label>Image</label><br>
      <input type="file" name="product[image]" id="image" />
    </div>
    <div>
      <label>Shop</label>
      <select name="product[shop_id]" id="shops"></select>
    </div>
    <button  type="button" class="btn btn-success create">新規投稿</buttom>
  </form>
</div>

<div class="wrapper col-9">
<div class="content row">
  <div class="search-box col-6">
    <form>
      <label>Search</label><br>
      <input type="text" name="search" id="search" />
      <button type="button" class="btn btn-info search">タイトルで検索</buttom>
    </form>
  </div>

  <div class="shop-select col-6">
    <form>
      <label>ShopSelect</label><br>
      <select name="product[shop_id]" id="shops_select"></select>
      <button type="button" class="btn btn-info select">店舗で絞込</buttom>
    </form>
  </div>
</div>

<div class="row">
  <table>
    <thead>
      <tr>
        <td>image</td>
        <td>title</td>
        <td>text</td>
        <td>price</td>
        <td colspan="2"></td>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  </div>
</div>
</div>
</div>

<script>
$(function(){
  $.ajax({
    url:'./api/v1/shops',
    type:'get'
  }).done( (datas) => {
    let tag_data;
    let products = datas.products;
    products.forEach(function(product){
      tag_data += '<tr id="' + product.id + '"><td class="image"><img src=".' + product.image.url + '" width="70" height="70" border="0" /></td><td class="title">' + product.title + '</td><td class="text">' + product.text + '</td><td class="price">' + product.price + '</td><td><button type="button" class="btn btn-primary edit" value='+ product.id + '>編集</button>' + '</td><td><button type="button" class="btn btn-danger delete" value='+ product.id + '>削除</button></td></tr>';
    });
    $("tbody").html(tag_data);

    let shop_data = '<option value=""></option>';
    let shops = datas.shops;
    shops.forEach(function(shop){
      shop_data += '<option value="' + shop.id + '">' + shop.name + '</option>'
    });
    $("#shops").html(shop_data);
    $("#shops_select").html(shop_data);
  });

  $('.create').click(function(){
    var formData = new FormData($('.create-form form').get(0));
    $('.create-form form').find('#title').val("");
    $('.create-form form').find('#text').val("");
    $('.create-form form').find('#price').val("");
    $('.create-form form').find('#image').val("");
    $.ajax({
      url: './api/v1/products',
      type: 'post',
      data: formData,
      processData: false,
      contentType: false,
      dataType: 'json'
    }).done( (data) => {
      let tag_data = $("tbody").html();
      tag_data += '<tr id="' + data.id + '"><td class="image"><img src=".' + data.image.url + '" width="70" height="70" border="0" /></td><td class="title">' + data.title + '</td><td class="text">' + data.text + '</td><td class="price">' + data.price + '</td><td><button type="button" class="btn btn-primary edit" value='+ data.id + '>編集</button>' + '</td><td><button type="button" class="btn btn-danger delete" value='+ data.id + '>削除</button></td></tr>';
      $('tbody').html(tag_data);
    })
  });

  $(document).on('click', '.edit', function(){
    var id = $(this).val();
    let before_title = $('#'+id).find('.title').text();
    let before_text = $('#'+id).find('.text').text();
    var before_price = Number($('#'+id).find('.price').text());
    let tag_data = '<td><input type="file" name="product[image]" id="edit_image" /></td><td><input type="text" name="product[title]" id="edit_title" value="' + before_title + '"/></td><td><textarea name="product[text]" id="edit_text">' + before_text + '</textarea></td><td><input type="number" name="product[price]" id="edit_price" value="' + before_price + '"/></td><td><button  type="button" class="btn btn-warning update" value='+ id + '>更新</buttom></td>';
    $('#'+id).html(tag_data);
  });

  $(document).on('click', '.update', function(){
    var id = $(this).val();
    var u = './api/v1/products/' + id;
    let after_title = $('#'+id).find('#edit_title').val();
    let after_text = $('#'+id).find('#edit_text').val();
    let after_price = $('#'+id).find('#edit_price').val();
    let after_image = $('#'+id).find('#edit_image').prop('files')[0];
    var form_data = new FormData();
    form_data.append("product[title]", after_title);
    form_data.append("product[text]", after_text);
    form_data.append("product[price]", after_price);
    if(after_image){
    form_data.append("product[image]", after_image, after_image.name);
    }
    $.ajax({
      url: u,
      type: 'patch',
      data: form_data,
      processData: false,
      contentType: false,
      dataType: 'json'
    }).done( (data) => {
      let after_datas = '<td class="image"><img src=".' + data.image.url + '" width="70" height="70" border="0" /></td><td class="title">' + data.title + '</td><td class="text">' + data.text + '</td><td class="price">' + data.price + '</td><td><button type="button" class="btn btn-primary edit" value='+ data.id + '>編集</button>' + '</td><td><button type="button" class="btn btn-danger delete" value='+ data.id + '>削除</button></td>';
      $('#'+id).html(after_datas);
    })
  });

  $(document).on('click', '.delete', function(){
    var id = $(this).val();
    var u = './api/v1/products/' + id;
    $.ajax({
      url: u,
      type: 'delete'
    }).done( (data) => {
      $('#'+id).remove();
    })
  });

  $('.search').click(function(){
    var form = $('.search-box form').serialize();
    $('.search-box form').find('#search').val("");
    $.ajax({
      url: './api/v1/products/search',
      type: 'post',
      data: form
    }).done( (datas) => {
      let tag_data;
      datas.forEach(function(data){
        tag_data += '<tr id="' + data.id + '"><td class="image"><img src=".' + data.image.url + '" width="70" height="70" border="0" /></td><td class="title">' + data.title + '</td><td class="text">' + data.text + '</td><td class="price">' + data.price + '</td><td><button type="button" class="btn btn-primary edit" value='+ data.id + '>編集</button>' + '</td><td><button type="button" class="btn btn-danger delete" value='+ data.id + '>削除</button></td></tr>';
      });
      $("tbody").html(tag_data);
    })
  });

  $('.select').click(function(){
    var id = $('#shops_select option:selected').val();
    $.ajax({
      url: './api/v1/shops/' + id,
      type: 'get',
    }).done( (data) => {
      let tag_data;
      data.shop.products.forEach(function(product){
        tag_data += '<tr id="' + product.id + '"><td class="image"><img src=".' + product.image.url + '" width="70" height="70" border="0" /></td><td class="title">' + product.title + '</td><td class="text">' + product.text + '</td><td class="price">' + product.price + '</td><td><button type="button" class="btn btn-primary edit" value='+ product.id + '>編集</button>' + '</td><td><button type="button" class="btn btn-danger delete" value='+ product.id + '>削除</button></td></tr>';
      });
      $("tbody").html(tag_data);
    })
  });
});
</script>